@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@page {
  margin: .125in;
}

div.battlescribe {
  display: none;
}

:root {
  --kill-team-orange: #d25a10;
  --black: #333;
  --gray: #666;
  --light-gray: #8e8e8e;
}

body {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

li: {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Passion One";
}

hr {
  height: 0px;
  border-bottom: 1pt solid var(--black);
}

.list-system-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-style: italic;
  color: var(--gray);
  padding-bottom: .125in;
  margin-bottom: .125in;
  border-bottom: solid 1pt var(--black);
}

.list-system {
  margin-left: auto;
}

.unit {
  position: relative;
  height: 4.75in;
  overflow: hidden;
  margin-bottom: .125in;
  border: solid 2pt var(--black);
  page-break-inside: avoid;
}

.print-colored .unit {
  border-color: var(--kill-team-orange);
}

.unit h2 {
  background: var(--black);
  color: white;
  padding-left: .125in;
}

.print-colored .unit h2 {
  background: var(--kill-team-orange);
}

.unit > h3 {
  padding-left: .125in;
  margin-bottom: .125in;
}

.unit-attributes {
  margin-bottom: .125in;
}

.unit-attributes-header {
  align-content: center;
  align-items: center;
  display: flex;n
  flex-wrap: nowrap;
  justify-content: space-between;
}

.unit-attribute-header {
  font-weight: bold;
  height: 100%;
  text-align: center;
  width: 100%;
  padding: .125in 0;
  border-right: solid 2pt var(--black);
}

.print-colored .unit-attribute-header {
  border-right: solid 2pt var(--kill-team-orange);
}

.unit-attribute-header:first-child {
  border-left: none;
}

.unit-attribute-header:last-child {
  border-right: none;
}

.unit-attributes-values {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  background: var(--black);
  justify-content: space-between;
}

.print-colored .unit-attributes-values {
  background: var(--kill-team-orange);
}

.unit-attribute-value {
  height: 100%;
  text-align: center;
  width: 100%;
  padding: .125in 0;
  color: white;
  border-right: solid 2pt white;
  font-weight: bold;
}

.unit-attribute-value:last-child {
  border-right: none;
}

.unit-abilities {
  font-size: 9pt;
  margin: 0 .125in;
}

.unit-abilities hr:last-child {
  display: none;
}

.unit-data {
  padding-left: .125in;
  padding-bottom: .125in;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  bottom: .125in;
  left: .0625in;
}

.unit-data > section {
  margin-right: .5in;
}

.checkboxes {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.checkbox {
  width: 25px;
  height: 25px;
  border: solid 2px black;
  margin-right: .25em;
}

.checkbox.highlighted {
  border-color: var(--light-gray);
}

.print-colored .checkbox.highlighted {
  border-color: var(--kill-team-orange);
}
